<h1>Debug Test</h1>
<p>Title: {{title}}</p>
<p>Form Action: {{formAction}}</p>
<p>Phieu object exists: {{#if phieu}}YES{{else}}NO{{/if}}</p>
<p>Customer name: {{phieu.ten_khach_hang}}</p>
<p>CCCD: {{phieu.cccd}}</p>
<p>Địa chỉ: {{phieu.dia_chi}}</p>
<p>Điện thoại: {{phieu.sdt}}</p>
<p>Phòng: {{phieu.so_phong}}</p>
<p>Giá: {{phieu.so_tien_coc}}</p>